body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f8f8f8;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #45a049;
}

.add-button {
    text-align: left;
    margin-top: 20px;
}

.btn-add {
    background-color: #008CBA;
}

.btn-add:hover {
    background-color: #007bb5;
}

/* Стили для кнопки "Удалить" */
.btn-delete {
    background-color: #f44336;
    margin-left: 5px;
}

.btn-delete:hover {
    background-color: #d32f2f;
}

.centered {
    text-align: center;
}

/* Стили для меню */
.menu {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.menu a {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 0 10px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.menu a:hover {
    background-color: #45a049;
}
