<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список проектов пользователя</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>

<div class="container">
    <h1>Список проектов пользователя</h1>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Проест</th>
            <th>Должность</th>
            <th class="centered">Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="project : ${projects}">
            <td th:text="${project.id}">1</td>
            <td th:text="${project.name}">Проект</td>
            <td th:text="${user.role}">должность</td>
            <td class="centered">
                <form th:action="@{/users/projects/{userId}/{id}(userId=${user.id}, id=${project.id})}" th:method="delete" style="display:inline;">
                    <button type="submit" class="btn btn-delete">Удалить</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="add-button">
        <a th:href="@{/users/projects/add/{id}(id=${user.id})}" class="btn btn-add">Добавить проект</a>
        <a th:href="@{/users}" class="btn btn-delete">Назад</a>
<!--        <button type="button" class="btn btn-delete" onclick="history.back()">Назад</button>-->
    </div>
</div>

</body>
</html>
